html{
  padding: 0% 15% 0% 15%;
  color: white;
  background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
}

.buffer{
  width: auto;
  height: 50px;
}

.talent{
  margin-bottom: 7%;
}

.comments{
  background-color: white;
}